/* Try different box model properties below */
div.site-header > p {
  color: white;
}
div.site-header p {
  margin-bottom: 0;
  color: white;
}
div.site-footer > p {
  font-size: 12px;
  text-align: center;
}
div.message--unread:last-child {
  box-shadow: 4px 4px 0px #dba944;
}
