/* Add your own CSS code below */
ul.countries--first {
  display: flex;
  flex-direction: row-reverse;
}

ul.countries--second {
  display: flex;
  flex-direction: column;
}

ul.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
